$maincolor: #fef5f5;
$secondcolor: #c31214;
$thirdcolor: white;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;

  h1,
  h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

<<<<<<< HEAD
    p {
      margin: 10px 0px 38px 8px;
      font-family: 'Roboto Slab', sans-serif;
=======
  p {
    margin: 10px 0px 38px 8px;
>>>>>>> f616a376469a1ce3aeda3fdc75b607771c531ffa
  }

  th {
    font-family: 'Roboto', sans-serif;
  }

}

/***************************************************Header*********************************************/
.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: transparent;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;

  .header_btn {
    grid-column: 6;
  }
  .rodekors {
    width: 50%;
    margin: 5px;
  }

  button {
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 11px;
    padding: 7px;
    border: 1px solid $secondcolor;
    border-radius: 5px;
    background-color: transparent;
    color: $secondcolor;
    /* box-shadow: 3px 3px 3px rgb(192, 192, 192);  */
<<<<<<< HEAD
    width: 60çpx;
      &:hover{
        transform: scale(1.3);
        color: $maincolor;
        background-color: $secondcolor;
=======
    width: 60px;
    &:hover {
      transform: scale(1.3);
      color: $maincolor;
      background-color: $secondcolor;
>>>>>>> f616a376469a1ce3aeda3fdc75b607771c531ffa
    }
  }
}

/***************************************************welcome*********************************************/

.welcome_pic {
  background-image: url("julehjælpen-01.svg");
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .billede {
  width: 100%;
  height: 50%;
  object-fit: cover;
} */

/***************************************************Dashboard*********************************************/

#dash_container {
  column-count: 2;
  column-width: 50%;
  column-gap: 30px;
  text-align: center;
  margin: 10px;

  #penge {
    height: 500px;
    background-color: $maincolor;
    box-shadow: 5px 5px 3px rgb(192, 192, 192);
    margin: 20px;

    th{
      padding-left: 30px;
      padding-top: 10px;
    }
    td{
      padding-left: 35px;
      padding-top: 10px;
    }
  }

  #mad {
    height: 500px;
    background-color: $maincolor;
    box-shadow: 5px 5px 3px rgb(192, 192, 192);
    margin: 20px;

    th{
      padding-left: 30px;
      padding-top: 10px;
    }
    td{
      padding-left: 35px;
      padding-top: 10px;
    }
  }
<<<<<<< HEAD


=======
>>>>>>> f616a376469a1ce3aeda3fdc75b607771c531ffa
}

/***************************************************modal*********************************************/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: $maincolor;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

input[type="text"] {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  text-align: center;
}

input[type="button"],
input[type="reset"],
input[type="button"] {
  border-radius: 5px;
  background-color: $maincolor;
  color: $secondcolor;
  box-shadow: 3px 3px 3px rgb(192, 192, 192);
  width: 170px;
  height: 30px;
  margin: 10px;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  transform: scale(1.1);
  color: $maincolor;
  background-color: $secondcolor;
}

.wrapper {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

/***************************************************Doner*********************************************/
.container {
  background-color: transparent;
  display: grid;
  position: relative;
  top: -30px;
  grid-template-columns: repeat(2, 1fr);

  .doner_container {
    background-color: $maincolor;
    width: 75%;
    height: 1100px;
    margin: auto;
    padding: 20px;
    border: 1px solid silver;
    box-shadow: 10px 10px 13px rgb(192, 192, 192);

    img {
      width: 100%;
    }
    input[type="checkbox"] {
      margin: 10px;
    }
    input[type="range"] {
      width: 50%;
    }

    .penge_container {
      margin: 40px;
    }

    .doner_knap_wrapper {
      text-align: center;

      #donerknap {
        margin-top: 8px;
        margin-left: 4px;
        margin-right: 11px;
        padding: 7px;
        border-radius: 5px;
        background-color: $secondcolor;
        color: $maincolor;
        box-shadow: 3px 3px 3px rgb(192, 192, 192);
        width: 200px;
        height: 40px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/***************************************************footer*********************************************/

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 300px;
  color: silver;
  background-color: $maincolor;

  .footerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

/***************************************************vis knaper*********************************************/

.hide {
  display: none;
}
